In [2]:
from main import FilesDatabase
import pandas as pd

In [ ]:

db = FilesDatabase.create("..")

UsageError: Line magic function `%%timeit` not found.

In [ ]:
db_by_size=db.sort("size")
db_by_size

                              size    n  ...               atime level
name                                     ...
.                         16452124  228  ... 2025-02-08 12:16:57     0
tetris                    13175801   83  ... 2025-02-01 15:16:43     1
tetris/.git               10217953   78  ... 2024-11-03 10:56:25     2
tetris/.git/objects       10185622   35  ... 2024-11-15 22:35:48     3
tetris/.git/objects/pack  10165690    4  ... 2024-10-27 18:34:03     4
...                            ...  ...  ...                 ...   ...
files-timeline/d/b               0    1  ... 2025-02-08 10:58:34     3
files-timeline/a/c               0    1  ... 2025-02-08 10:58:36     3
files-timeline/a/b               0    1  ... 2025-02-08 10:58:34     3
files-database/a/b               0    1  ... 2025-02-08 12:16:57     3
files-database/a/c               0    1  ... 2025-02-08 12:16:57     3

[228 rows x 6 columns]

In [ ]:
db_by_n=db.sort("n")
db_by_n

                         size    n  ...               atime level
name                                ...
.                    16452124  228  ... 2025-02-08 12:16:57     0
files-timeline        3087580  120  ... 2025-02-09 11:26:45     1
files-timeline/.git   1994264   92  ... 2025-02-09 11:11:39     2
tetris               13175801   83  ... 2025-02-01 15:16:43     1
tetris/.git          10217953   78  ... 2024-11-03 10:56:25     2
...                       ...  ...  ...                 ...   ...
tetris/music.mp3      2944940    1  ... 2024-10-27 17:36:25     2
.DS_Store                8196    1  ... 2025-02-09 10:15:56     1
tetris/README.md          215    1  ... 2024-12-26 10:29:26     2
files-database/a/b          0    1  ... 2025-02-08 12:16:57     3
files-database/a/c          0    1  ... 2025-02-08 12:16:57     3

[228 rows x 6 columns]

In [22]:
db_by_time=db.sort("mtime",False)
db_by_time

                                   size   n  ...               atime level
name                                         ...
files-timeline/main.ipynb         31208   1  ... 2025-02-09 11:46:17     2
files-timeline/.git/objects     1963871  59  ... 2025-02-09 11:46:15     3
files-timeline/.git/FETCH_HEAD        0   1  ... 2025-02-08 14:52:57     3
files-timeline/test.ipynb         17666   1  ... 2025-02-09 11:46:04     2
files-timeline/__pycache__         6315   2  ... 2025-02-09 11:26:46     2
...                                 ...  ..  ...                 ...   ...
tetris/music.mp3                2944940   1  ... 2024-10-27 17:36:25     2
tetris/.git/HEAD                     21   1  ... 2024-10-27 17:35:39     3
tetris/README.md                    215   1  ... 2024-12-26 10:29:26     2
tetris/.git/description              73   1  ... 2024-10-27 17:35:37     3
tetris/.git/info/exclude            240   1  ... 2024-10-27 17:35:40     4

[228 rows x 6 columns]

In [11]:
import numpy as np
array = np.array([[1,2,3],[4,5,6],[7,8,9]])
array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])