In [2]:
import pandas as pd

In [61]:
class Int(int):pass

df=pd.DataFrame({"a":[Int(3)],"b":["a"],"c":"2025-02-07 22:02:17"})
print(df)
print(df.dtypes)
df.memory_usage(deep=True)

   a  b                    c
0  3  a  2025-02-07 22:02:17
a     int64
b    object
c    object
dtype: object

Index    132
a          8
b         58
c         76
dtype: int64

In [31]:
df2=df.astype({"a":"uint64","b":"string","c":"datetime64[ms]"}) #possibles values of int: int8, int16, int32, int64
# print(df2.dtypes)
# print(df2.memory_usage(deep=True))
# print(df2)
df2.loc[1] = (0,"a","2025-02-07 22:02:20")
print(df2.dtypes)
df2=df2.astype({"a":"uint64","b":"string","c":"datetime64[ms]"})
print(df2.dtypes)

a    float64
b     object
c     object
dtype: object
a            uint64
b    string[python]
c    datetime64[ms]
dtype: object

In [34]:
df2.loc[2] = (0,"a","2025-02-07 22:02:24")
print(df2.dtypes)
df2

a    float64
b     object
c     object
dtype: object

     a  b                    c
0  0.0  a  2025-02-07 22:02:17
1  0.0  a  2025-02-07 22:02:24
2  0.0  a  2025-02-07 22:02:24

In [23]:
df2 = df2.astype({"c":"datetime64[ns]"})
df2

              a  b                   c
0  1.844674e+19  a 2025-02-07 22:02:17
1  0.000000e+00  a 2025-02-07 22:02:20

In [20]:
df2.loc[1].c

Timestamp('2025-02-07 22:02:20')

In [40]:
#df = pd.DataFrame(columns=("a",)).astype({"a":"int32"})
df = pd.DataFrame({"a":pd.Series(dtype="uint64")})
df.loc[0]=(2,)
df.dtypes

a    int64
dtype: object

In [46]:
import pandas as pd

# Define column names and data types
column_dtypes = {
    "id": "uint32",
    "name": "string",
    "age": "uint8",
    "salary": "float64",
    "is_active": "bool"
}

# Create an empty DataFrame with specified dtypes
df = pd.DataFrame({col: pd.Series(dtype=dtype) for col, dtype in column_dtypes.items()})

#df.loc[0] = [1, "Alice", 30, 50000.0, True]
new_row = pd.DataFrame([[2, "Bob", 25, 45000.0, False]], columns=df.columns)
#df = pd.concat([df, new_row], ignore_index=True)
# Display the DataFrame
print(df.dtypes)
print(df)

id                   uint32
name         string[python]
age                   uint8
salary              float64
is_active              bool
dtype: object
Empty DataFrame
Columns: [id, name, age, salary, is_active]
Index: []

uint16: 0 à 2**16-1

uint32: 0 à 2**32-1

uint64: 0 à 2**64-1

int64: -2^63 à 2^63-1

In [ ]:
for exp in (8,16,32,64):
    print(f"2**{exp} = {2**exp}")
    
"""
name: object/string (same size) 8
size: int64                     8
"""

2**8 = 256
2**16 = 65536
2**32 = 4294967296
2**64 = 18446744073709551616

In [ ]:
df3=pd.DataFrame(columns=("a","b"))
df3.loc[0]=[23,"CDs"]
df3.memory_usage(deep=True)
"""
wtf, index takes less place when doing this than the first one
"""

Index     8
a         8
b        60
dtype: int64

In [80]:
import sys
sys.getsizeof("")

49

In [47]:
a=8+8+8+8+8+8+8 # in the dataframe
b=49+100
print("In dataframe",a)
print("In POO object/string for col name",b)


"""
Ok du coup ça me fait env 200 bytes par item
200 * 250'000 = 5'000'000 bytes = 5 MB 
"""

In dataframe 56
In POO object/string for col name 149

"\nOk du coup ça me fait env 200 bytes par item\n200 * 250'000 = 5'000'000 bytes = 5 MB \n"

In [81]:
len("coding/files-timeline/timeline/2025-02-01.csv")

45

In [ ]:
import sys


# Example: Creating a string of 37.5 MB
s="A"*int(1e11)

print(sys.getsizeof(s))

10000000049

:

In [101]:
with open("test.txt","w") as f:
    f.write(s)

In [58]:
import os
os.stat("")
os.path.join("","a")

FileNotFoundError: [Errno 2] No such file or directory: ''

In [55]:
#import stat
#stat.S_ISDIR("a")
os.path.isfile("d")

False

In [51]:
a=b=0

In [69]:
with open("test.txt","w") as f:
    f.write("a"*999499)

In [32]:
class Mydf(pd.DataFrame):pass

df=Mydf({"a":[1,0,1],"b":[0,1,2]})

In [ ]:
import datetime
pd.to_datetime(1739027130.0580742,unit='s')
[1]

(1, 2, 3, 4)

In [ ]:
import pandas as pd
df1 = pd.({"a":(1,2,3), "b":("ABC","DEF","GHI"),"c":("JKL","JKL","PQR")})
#df2=df[::-1]
#df2=df2.reset_index(drop=True)
df.a-=1
print(type(df))

<class '__main__.Mydf'>

In [59]:
df = pd.read_csv("db.csv")
a=df.loc[0]

In [68]:
a=""

In [ ]:
%%timeit
not a # a bit faster than a==0 and a=="", perfect !

21.1 ns ± 0.166 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [99]:
class MyDataFrame(pd.DataFrame):


    def to_pandas(self):
        """Convert to a normal pandas DataFrame"""
        return pd.DataFrame(self)

# Example usage
dde=MyDataFrame({'A': [1, 2, 3,4], 'B': [4, 5, 6,7]})
#df3  # Now it will work in VS Code Data Viewer!
dde

   A  B
0  1  4
1  2  5
2  3  6
3  4  7

In [100]:
dde.loc[0].A=2